#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: teal;
    border: 3px solid rgb(0, 81, 128);
    padding: 10px;
    color: whitesmoke;
}

a {
    color: rgb(0, 81, 128);
}

a:hover {
    color: maroon;
}

a:visited {
    color: rgb(143, 218, 218);
}