body {
    margin: 0px;
}

header {
    background-color: rgb(121, 203, 203);
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-weight: 400;
}


#navbar {
    overflow: hidden;
    background-color: teal;
    border-bottom: solid 15px rgb(16, 85, 85);
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: rgb(110, 168, 168);
    color: rgb(121, 46, 59);
}

#container {
    margin: 2% 5% 100px 5% ;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    transition: 0.3s;
    width: 50%;
}

.card-title {

    text-align: center;
    font-size: 2em;
    color: rgb(68, 105, 105);
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;

}

.card-content:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer {
    background-color:  rgb(121, 203, 203);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: ivory;
    font-weight: 400;
    float: right;
    margin-right: 25px;
    font-style: italic;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    color: ivory;
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

#movies div table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#movies div table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#movies div table td {
    border: 1px solid #ddd;
    padding: 8px;
}